In [45]:
import pandas as pd

# Read the CSV file
Air_Traffic_df = pd.read_csv("Resources/flight_delay_1percent.csv")
#Kaggle site: https://www.kaggle.com/datasets/threnjen/2019-airline-delays-and-cancellations - took 1% of data

Air_Traffic_df=pd.DataFrame(Air_Traffic_df)

# Display the first few rows
Air_Traffic_sample_df.head(10)

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
103365,2,5,0,2000-2059,3,5,1,70,"Midwest Airline, Inc.",3363,...,14,Cincinnati/Northern Kentucky International,39.048,-84.669,Houston Intercontinental,0.00,0.0,0.0,53.0,10.29
78816,8,2,0,0600-0659,9,1,33,199,Delta Air Lines Inc.,14049,...,23,Seattle International,47.447,-122.306,NONE,0.00,0.0,0.0,82.0,6.04
202992,4,5,0,1700-1759,3,4,17,154,United Air Lines Inc.,13675,...,3,San Francisco International,37.619,-122.375,McCarran International,0.00,0.0,0.0,70.0,9.84
280820,2,1,0,1200-1259,2,1,48,129,Atlantic Southeast Airlines,13272,...,11,Houston Intercontinental,29.983,-95.340,NONE,0.01,0.0,0.0,80.0,6.93
199267,3,1,0,0800-0859,1,2,33,50,Comair Inc.,9511,...,15,Philadelphia International,39.868,-75.249,Watertown International,0.09,0.0,0.0,37.0,14.09
293751,5,4,1,1800-1859,4,3,10,180,Frontier Airlines Inc.,3528,...,11,Orange County,33.676,-117.867,Stapleton International,0.00,0.0,0.0,70.0,3.80
243713,3,1,0,1300-1359,3,3,50,160,American Airlines Inc.,27137,...,5,Chicago O'Hare International,41.978,-87.906,LaGuardia,0.00,0.0,0.0,43.0,7.61
255804,4,2,0,1100-1159,4,2,19,182,Spirit Air Lines,11972,...,1,Orlando International,28.432,-81.325,Newark Liberty International,0.11,0.0,0.0,86.0,11.86
205640,2,2,0,1400-1459,5,3,28,110,Delta Air Lines Inc.,12355,...,18,LaGuardia,40.779,-73.876,Minneapolis-St Paul International,0.00,0.0,0.0,36.0,13.42
30698,3,7,0,1700-1759,8,2,34,187,American Airlines Inc.,19559,...,5,Douglas Municipal,35.219,-80.936,Phoenix Sky Harbor International,0.00,0.0,0.0,62.0,6.26

In [46]:
Air_Traffic_sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64891 entries, 103365 to 25646
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   MONTH                          64891 non-null  int64
 1   DAY_OF_WEEK                    64891 non-null  int64
 2   DEP_DEL15                      64891 non-null  int64
 3   DEP_TIME_BLK                   64891 non-null  object
 4   DISTANCE_GROUP                 64891 non-null  int64
 5   SEGMENT_NUMBER                 64891 non-null  int64
 6   CONCURRENT_FLIGHTS             64891 non-null  int64
 7   NUMBER_OF_SEATS                64891 non-null  int64
 8   CARRIER_NAME                   64891 non-null  object
 9   AIRPORT_FLIGHTS_MONTH          64891 non-null  int64
 10  AIRLINE_FLIGHTS_MONTH          64891 non-null  int64
 11  AIRLINE_AIRPORT_FLIGHTS_MONTH  64891 non-null  int64
 12  AVG_MONTHLY_PASS_AIRPORT       64891 non-null  int64
 13  AVG_MONTHLY_PASS_AIRLINE       64891 non-null  int64
 14  FLT_ATTENDANTS_PER_PASS        64891 non-null  float64
 15  GROUND_SERV_PER_PASS           64891 non-null  float64
 16  PLANE_AGE                      64891 non-null  int64
 17  DEPARTING_AIRPORT              64891 non-null  object
 18  LATITUDE                       64891 non-null  float64
 19  LONGITUDE                      64891 non-null  float64
 20  PREVIOUS_AIRPORT               64891 non-null  object
 21  PRCP                           64891 non-null  float64
 22  SNOW                           64891 non-null  float64
 23  SNWD                           64891 non-null  float64
 24  TMAX                           64891 non-null  float64
 25  AWND                           64891 non-null  float64
dtypes: float64(9), int64(13), object(4)
memory usage: 13.4+ MB

In [47]:
# Read the CSV file
monthly_df = pd.read_csv("Resources/air traffic.csv")
#Kaggle site: https://www.kaggle.com/datasets/yyxian/u-s-airline-traffic-data

monthly_df=pd.DataFrame(monthly_df)

# Display the first few rows
monthly_df.head(100)

,Year,Month,Dom_Pax,Int_Pax,Pax,Dom_Flt,Int_Flt,Flt,Dom_RPM,Int_RPM,RPM,Dom_ASM,Int_ASM,ASM,Dom_LF,Int_LF,LF
0,2003,1,"43,032,450","4,905,830","47,938,280","785,160","57,667","842,827","36,211,422","12,885,980","49,097,402","56,191,300","17,968,572","74,159,872",64.44,71.71,66.20
1,2003,2,"41,166,780","4,245,366","45,412,146","690,351","51,259","741,610","34,148,439","10,715,468","44,863,907","50,088,434","15,587,880","65,676,314",68.18,68.74,68.31
2,2003,3,"49,992,700","5,008,613","55,001,313","797,194","58,926","856,120","41,774,564","12,567,068","54,341,633","57,592,901","17,753,174","75,346,075",72.53,70.79,72.12
3,2003,4,"47,033,260","4,345,444","51,378,704","766,260","55,005","821,265","39,465,980","10,370,592","49,836,572","54,639,679","15,528,761","70,168,440",72.23,66.78,71.02
4,2003,5,"49,152,352","4,610,834","53,763,186","789,397","55,265","844,662","41,001,934","11,575,026","52,576,960","55,349,897","15,629,821","70,979,718",74.08,74.06,74.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2010,12,"51,076,415","7,271,391","58,347,806","702,581","66,014","768,595","45,067,192","19,358,086","64,425,278","55,745,538","24,054,993","79,800,532",80.84,80.47,80.73
96,2011,1,"46,304,921","7,155,472","53,460,393","681,152","68,426","749,578","41,187,426","19,013,720","60,201,146","53,804,562","24,876,445","78,681,007",76.55,76.43,76.51
97,2011,2,"43,657,818","6,205,658","49,863,476","625,530","61,615","687,145","38,285,134","15,742,124","54,027,258","49,106,329","22,192,337","71,298,667",77.96,70.93,75.78
98,2011,3,"55,649,428","7,733,473","63,382,901","754,669","71,925","826,594","48,992,221","19,689,006","68,681,228","59,209,942","25,743,795","84,953,737",82.74,76.48,80.85
99,2011,4,"52,858,479","7,495,073","60,353,552","720,073","68,663","788,736","46,567,364","19,768,711","66,336,076","56,686,501","25,411,596","82,098,097",82.15,77.79,80.80

In [48]:
monthly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     249 non-null    int64
 1   Month    249 non-null    int64
 2   Dom_Pax  249 non-null    object
 3   Int_Pax  249 non-null    object
 4   Pax      249 non-null    object
 5   Dom_Flt  249 non-null    object
 6   Int_Flt  249 non-null    object
 7   Flt      249 non-null    object
 8   Dom_RPM  249 non-null    object
 9   Int_RPM  249 non-null    object
 10  RPM      249 non-null    object
 11  Dom_ASM  249 non-null    object
 12  Int_ASM  249 non-null    object
 13  ASM      249 non-null    object
 14  Dom_LF   249 non-null    float64
 15  Int_LF   249 non-null    float64
 16  LF       249 non-null    float64
dtypes: float64(3), int64(2), object(12)
memory usage: 33.2+ KB

In [49]:
# Read the CSV file
reviews_sample_df = pd.read_csv("Resources/AirlineReviews_ten_percent.csv")
#Kaggle site: https://www.kaggle.com/datasets/joelljungstrom/128k-airline-reviews - took 10% sample

reviews_sample_df=pd.DataFrame(reviews_df)

# Display the first few rows
reviews_sample_df.head(100)

,Aircraft,AirlineName,CabinType,DateFlown,DatePub,EntertainmentRating,FoodRating,GroundServiceRating,OriginCountry,OverallScore,...,Route,SeatComfortRating,ServiceRating,Slug,Title,TravelType,TripVerified,ValueRating,WifiRating,unique_id
0,NaN,AB Aviation,Economy Class,November 2019,11th November 2019,0,4,4,Netherlands,9.0,...,Moroni to Moheli,4,5,ab-aviation,pretty decent airline,Solo Leisure,Trip Verified,3,0,d3b260fb-268b-4399-8a9b-2804825902c6
1,E120,AB Aviation,Economy Class,June 2019,25th June 2019,0,1,1,UnitedKingdom,1.0,...,Moroni to Anjouan,2,2,ab-aviation,Not a good airline,Solo Leisure,Trip Verified,2,0,307711df-268f-4698-97b8-45729b7d972e
2,Embraer E120,AB Aviation,Economy Class,June 2019,25th June 2019,0,1,1,UnitedKingdom,1.0,...,Anjouan to Dzaoudzi,2,1,ab-aviation,flight was fortunately short,Solo Leisure,Trip Verified,2,0,82bd2602-171d-4724-bde0-90b71621cdcf
3,NaN,Aerocaribbean,Economy Class,NaN,31st December 2010,0,0,0,Denmark,8.0,...,NaN,0,0,aerocaribbean,Aerocaribbean customer review,NaN,NaN,4,0,a927beb4-6244-4f5c-9dc3-09890aa3e616
4,NaN,Aerocaribbean,NaN,NaN,25th November 2010,0,0,0,UnitedKingdom,1.0,...,NaN,0,0,aerocaribbean,Aerocaribbean customer review,NaN,NaN,0,0,d7bea425-c58a-4a7e-8269-02e0e6516633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,Adria Airways,NaN,NaN,21st February 2006,0,0,0,NaN,NaN,...,NaN,0,0,adria-airways,Adria Airways customer review,NaN,NaN,0,0,4fac9e59-9a61-4598-8228-1c89146c4127
96,NaN,Adria Airways,NaN,NaN,1st October 2005,0,0,0,NaN,NaN,...,NaN,0,0,adria-airways,Adria Airways customer review,NaN,NaN,0,0,4899a3e8-a2c6-4365-bc0f-c96de911e60f
97,NaN,Adria Airways,NaN,NaN,15th September 2005,0,0,0,NaN,NaN,...,NaN,0,0,adria-airways,Adria Airways customer review,NaN,NaN,0,0,54a9b360-2e9d-4cdd-b987-4a03c2686165
98,NaN,Adria Airways,NaN,NaN,3rd December 2004,0,0,0,NaN,NaN,...,NaN,0,0,adria-airways,Adria Airways customer review,NaN,NaN,0,0,c366af8a-4e8c-4968-9d26-bc1aa4ff9c37
99,NaN,Aeromar,Economy Class,November 2018,6th November 2018,1,1,1,UnitedStates,1.0,...,Oaxaca to Mexico City,1,1,aeromar,such bad customer service,Family Leisure,Trip Verified,1,1,0b53d15a-4d05-4e94-b1a3-747716e3db16

In [50]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129455 entries, 0 to 129454
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Aircraft             36423 non-null   object
 1   AirlineName          129455 non-null  object
 2   CabinType            126437 non-null  object
 3   DateFlown            90993 non-null   object
 4   DatePub              129455 non-null  object
 5   EntertainmentRating  129455 non-null  int64
 6   FoodRating           129455 non-null  int64
 7   GroundServiceRating  129455 non-null  int64
 8   OriginCountry        127777 non-null  object
 9   OverallScore         125124 non-null  float64
 10  Recommended          129455 non-null  object
 11  Review               128631 non-null  object
 12  Route                90825 non-null   object
 13  SeatComfortRating    129455 non-null  int64
 14  ServiceRating        129455 non-null  int64
 15  Slug                 129455 non-null  object
 16  Title                129451 non-null  object
 17  TravelType           91146 non-null   object
 18  TripVerified         59508 non-null   object
 19  ValueRating          129455 non-null  int64
 20  WifiRating           129455 non-null  int64
 21  unique_id            129455 non-null  object
dtypes: float64(1), int64(7), object(14)
memory usage: 21.7+ MB

In [51]:
# Read the CSV file
delay_sample_df = pd.read_csv("Resources/flight_data_ten_percent.csv")
#Kaggle site: https://www.kaggle.com/datasets/veskovujovic/airline-delay-and-cancellation-data-2018 - 10 percent of data

delay_sample_df=pd.DataFrame(delay_sample_df)

# Display the first few rows
delay_sample_df.head(100)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-30,B6,601,JFK,FLL,600,558.0,-2.0,86.0,724.0,...,187.0,249.0,157.0,1069.0,0.0,0.0,60.0,0.0,0.0,NaN
1,2018-02-04,WN,3327,MDW,GRR,1440,1546.0,66.0,33.0,1619.0,...,50.0,74.0,32.0,137.0,0.0,28.0,24.0,0.0,38.0,NaN
2,2018-02-08,EV,4168,IAH,TUL,905,904.0,-1.0,11.0,915.0,...,96.0,80.0,64.0,429.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-23,UA,667,ORD,PHX,738,731.0,-7.0,21.0,752.0,...,240.0,233.0,206.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-02-07,B6,398,MCO,LGA,1224,1244.0,20.0,44.0,1328.0,...,155.0,NaN,NaN,950.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018-02-18,UA,1883,ORD,SJC,1938,1930.0,-8.0,16.0,1946.0,...,277.0,292.0,273.0,1829.0,NaN,NaN,NaN,NaN,NaN,NaN
96,2018-01-22,WN,686,HOU,BHM,1050,1046.0,-4.0,15.0,1101.0,...,95.0,93.0,76.0,570.0,NaN,NaN,NaN,NaN,NaN,NaN
97,2018-01-28,B6,376,FLL,PHL,1127,1124.0,-3.0,18.0,1142.0,...,164.0,159.0,129.0,992.0,NaN,NaN,NaN,NaN,NaN,NaN
98,2018-01-09,WN,5856,LAX,BNA,1635,1647.0,12.0,13.0,1700.0,...,230.0,220.0,199.0,1797.0,NaN,NaN,NaN,NaN,NaN,NaN
99,2018-01-30,WN,467,MEM,DAL,1035,1032.0,-3.0,9.0,1041.0,...,90.0,79.0,65.0,423.0,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
delay_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 28 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   FL_DATE              1000000 non-null  object
 1   OP_CARRIER           1000000 non-null  object
 2   OP_CARRIER_FL_NUM    1000000 non-null  int64
 3   ORIGIN               1000000 non-null  object
 4   DEST                 1000000 non-null  object
 5   CRS_DEP_TIME         1000000 non-null  int64
 6   DEP_TIME             975046 non-null   float64
 7   DEP_DELAY            974172 non-null   float64
 8   TAXI_OUT             974574 non-null   float64
 9   WHEELS_OFF           974574 non-null   float64
 10  WHEELS_ON            973728 non-null   float64
 11  TAXI_IN              973728 non-null   float64
 12  CRS_ARR_TIME         1000000 non-null  int64
 13  ARR_TIME             973728 non-null   float64
 14  ARR_DELAY            971581 non-null   float64
 15  CANCELLED            1000000 non-null  float64
 16  CANCELLATION_CODE    25602 non-null    object
 17  DIVERTED             1000000 non-null  float64
 18  CRS_ELAPSED_TIME     999995 non-null   float64
 19  ACTUAL_ELAPSED_TIME  971971 non-null   float64
 20  AIR_TIME             971971 non-null   float64
 21  DISTANCE             1000000 non-null  float64
 22  CARRIER_DELAY        181312 non-null   float64
 23  WEATHER_DELAY        181312 non-null   float64
 24  NAS_DELAY            181312 non-null   float64
 25  SECURITY_DELAY       181312 non-null   float64
 26  LATE_AIRCRAFT_DELAY  181312 non-null   float64
 27  Unnamed: 27          0 non-null        float64
dtypes: float64(20), int64(3), object(5)
memory usage: 213.6+ MB